<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Summary" data-toc-modified-id="Summary-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Summary</a></span></li><li><span><a href="#Preprocess-Data" data-toc-modified-id="Preprocess-Data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Preprocess Data</a></span><ul class="toc-item"><li><span><a href="#Undersample-Majority-Class" data-toc-modified-id="Undersample-Majority-Class-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Undersample Majority Class</a></span></li><li><span><a href="#Feature-Selection" data-toc-modified-id="Feature-Selection-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Feature Selection</a></span></li><li><span><a href="#Clean-up-null-and-missing-values" data-toc-modified-id="Clean-up-null-and-missing-values-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Clean up null and missing values</a></span></li><li><span><a href="#Replace-null-values" data-toc-modified-id="Replace-null-values-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Replace null values</a></span><ul class="toc-item"><li><span><a href="#Separate-Numericals-&amp;-Categoricals" data-toc-modified-id="Separate-Numericals-&amp;-Categoricals-2.4.1"><span class="toc-item-num">2.4.1&nbsp;&nbsp;</span>Separate Numericals &amp; Categoricals</a></span><ul class="toc-item"><li><span><a href="#Summary-of-numericals" data-toc-modified-id="Summary-of-numericals-2.4.1.1"><span class="toc-item-num">2.4.1.1&nbsp;&nbsp;</span>Summary of numericals</a></span></li></ul></li><li><span><a href="#Categoricals" data-toc-modified-id="Categoricals-2.4.2"><span class="toc-item-num">2.4.2&nbsp;&nbsp;</span>Categoricals</a></span></li></ul></li><li><span><a href="#Label-Encode-or-One-Hot-Encode-Categoricals" data-toc-modified-id="Label-Encode-or-One-Hot-Encode-Categoricals-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Label Encode or One-Hot Encode Categoricals</a></span><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Use-label-encoding-to-save-space-with-Organization_Type" data-toc-modified-id="Use-label-encoding-to-save-space-with-Organization_Type-2.5.0.1"><span class="toc-item-num">2.5.0.1&nbsp;&nbsp;</span>Use label encoding to save space with Organization_Type</a></span></li><li><span><a href="#One-Hot-Encode-Categoricals" data-toc-modified-id="One-Hot-Encode-Categoricals-2.5.0.2"><span class="toc-item-num">2.5.0.2&nbsp;&nbsp;</span>One Hot Encode Categoricals</a></span></li></ul></li></ul></li><li><span><a href="#Remove-Outliers" data-toc-modified-id="Remove-Outliers-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Remove Outliers</a></span><ul class="toc-item"><li><span><a href="#Select-Features" data-toc-modified-id="Select-Features-2.6.1"><span class="toc-item-num">2.6.1&nbsp;&nbsp;</span>Select Features</a></span></li></ul></li><li><span><a href="#SMOTE---Oversample-Minority-Class" data-toc-modified-id="SMOTE---Oversample-Minority-Class-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>SMOTE - Oversample Minority Class</a></span><ul class="toc-item"><li><span><a href="#Train,-Test,-Split" data-toc-modified-id="Train,-Test,-Split-2.7.1"><span class="toc-item-num">2.7.1&nbsp;&nbsp;</span>Train, Test, Split</a></span></li></ul></li><li><span><a href="#Random-Forest-with-SMOTE" data-toc-modified-id="Random-Forest-with-SMOTE-2.8"><span class="toc-item-num">2.8&nbsp;&nbsp;</span>Random Forest with SMOTE</a></span></li><li><span><a href="#Random-Forest-with-SMOTE" data-toc-modified-id="Random-Forest-with-SMOTE-2.9"><span class="toc-item-num">2.9&nbsp;&nbsp;</span>Random Forest with SMOTE</a></span></li></ul></li></ul></div>

# Summary
* 'Link to Data', https://www.kaggle.com/code/kapoorshivam/credit-analysis-using-eda/data

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
np.random.seed(0)
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_curve, auc
from sklearn.metrics import confusion_matrix
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import make_scorer
from sklearn.model_selection import StratifiedKFold
from sklearn.base import clone
from sklearn.metrics import log_loss
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import StandardScaler
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import precision_score, recall_score, accuracy_score, f1_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier
from xgboost import XGBClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.svm import SVC
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_selection import RFECV
from sklearn.datasets import make_classification
from sklearn.ensemble import RandomForestRegressor
from sklearn.feature_selection import RFE

from imblearn.over_sampling import SMOTE, ADASYN

import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [ ]:
df = pd.read_csv(r'/Users/jimpetoskey/Documents/Flatiron/phase3/Phase_3_Project/Loans/current_app.csv')
df.info()

In [ ]:
df['TARGET'].value_counts()

# Preprocess Data
* Reduce Class Imbalance Issue:
    * Sample 40,000 '0' values from the data set and use 25,000 '1' values, for 65,000 total values.
    * Then, oversample minority class with SMOTE for a total of 40,000 of each class.
* Trim columns based on scikit learn's recursive feature selection select 38 columns.

## Undersample Majority Class
* Will reduce size of dataframe for faster processing on local machine.
* Paired with SMOTE, will allow for reducing class imbalance issues

In [23]:
df_zero_val = df[df.TARGET == 0]
df_zero_val['TARGET'].value_counts()

0    282686
Name: TARGET, dtype: int64

In [24]:
df_zero_val = df_zero_val.sample(n=40000)
df_zero_val['TARGET'].value_counts()

0    40000
Name: TARGET, dtype: int64

In [25]:
df_one_val = df[df.TARGET == 1]
df_one_val['TARGET'].value_counts()

1    24825
Name: TARGET, dtype: int64

In [27]:
df1 = df_zero_val.append(df_one_val)
df1['TARGET'].value_counts()

0    40000
1    24825
Name: TARGET, dtype: int64

## Feature Selection
* Recursive Feature Selection (RFE) with sklearn

In [ ]:
df1.info()

In [ ]:
X = df1.drop('TARGET', axis=1)
y = df1['TARGET']

# Build a classification task using 30 informative features
X, y = make_classification(
    n_samples=500,
    n_features=122,
    n_informative=30,
    n_redundant=2,
    n_repeated=0,
    n_classes=8,
    n_clusters_per_class=1,
    random_state=0,
)

# Create the RFE object and compute a cross-validated score.
svc = SVC(kernel="linear")
# The "accuracy" scoring shows the proportion of correct classifications

min_features_to_select = 1  # Minimum number of features to consider
rfecv = RFECV(
    estimator=svc,
    step=1,
    cv=StratifiedKFold(2),
    scoring="accuracy",
    min_features_to_select=min_features_to_select,
)
rfecv.fit(X, y)

print("Optimal number of features : %d" % rfecv.n_features_)

# Plot number of features VS. cross-validation scores
plt.figure()
plt.xlabel("Number of features selected")
plt.ylabel("Cross validation score (accuracy)")
plt.plot(
    range(min_features_to_select, len(rfecv.grid_scores_) + min_features_to_select),
    rfecv.grid_scores_,
)
plt.show()

In [ ]:
# Too computationally expensive to run (>10 minutes)
# forest = RandomForestRegressor()

# Init the transformer
# rfe = RFE(estimator=RandomForestRegressor(), n_features_to_select=115)

# Fit to the data
# _ = rfe.fit(X_train_resampled, y_train_resampled)

In [ ]:
# _ = forest.fit(rfe.transform(X_train_resampled), y_train_resampled)
# forest.score(rfe.transform(X_test), y_test)

In [ ]:
# Create new dataframe with selected features
df1 = df.filter(['TARGET', 
                 'CNT_CHILDREN', 
                 'AMT_INCOME_TOTAL',
                 'AMT_CREDIT', 
                 'AMT_ANNUITY',
                 'NAME_EDUCATION_TYPE',
                 'DAYS_EMPLOYED',
                 'CNT_FAM_MEMBERS',
                 'DAYS_BIRTH',
                 'NAME_INCOME_TYPE',
                 'AMT_GOODS_PRICE',
                 'CODE_GENDER',
                 'FLAG_OWN_REALTY',
                 'REGION_RATING_CLIENT',
                 'ORGANIZATION_TYPE',
                 'DAYS_REGISTRATION',
                 'REGION_POPULATION_RELATIVE',
                 'NAME_HOUSING_TYPE',
                 'NAME_FAMILY_STATUS',
                 'NAME_TYPE_SUITE',
                 'FLAG_OWN_CAR',
                 'NAME_CONTRACT_TYPE',
                 'LIVE_REGION_NOT_WORK_REGION',
                 'EXT_SOURCE_1',
                 'EXT_SOURCE_2',
                 'EXT_SOURCE_3',
                 'APARTMENTS_AVG',
                 'YEARS_BUILD_AVG',
                 'YEARS_BEGIN_EXPLUATION_AVG',
                 'FLOORSMAX_AVG',
                 'NONLIVINGAREA_AVG',
                 'TOTALAREA_MODE',
                 'DAYS_LAST_PHONE_CHANGE',
                 'LIVINGAREA_MEDI',
                 'NONLIVINGAREA_MEDI',
                 'AMT_REQ_CREDIT_BUREAU_HOUR',
                 'AMT_REQ_CREDIT_BUREAU_DAY',
                 'AMT_REQ_CREDIT_BUREAU_WEEK',
                 'AMT_REQ_CREDIT_BUREAU_MON',
                 'AMT_REQ_CREDIT_BUREAU_QRT',
                 'AMT_REQ_CREDIT_BUREAU_YEAR'], 
                axis=1)
df1.info()

## Clean up null and missing values

In [30]:
df1.isnull().sum()

SK_ID_CURR                       0
TARGET                           0
NAME_CONTRACT_TYPE               0
CODE_GENDER                      0
FLAG_OWN_CAR                     0
                              ...
AMT_REQ_CREDIT_BUREAU_DAY     9499
AMT_REQ_CREDIT_BUREAU_WEEK    9499
AMT_REQ_CREDIT_BUREAU_MON     9499
AMT_REQ_CREDIT_BUREAU_QRT     9499
AMT_REQ_CREDIT_BUREAU_YEAR    9499
Length: 122, dtype: int64

## Replace null values 
* Categoricals: Replace with mode
* Numericals: Replace with mean

### Separate Numericals & Categoricals
* Complete further investigation of features

In [31]:
# Select only numerical features
num = df1.select_dtypes(include=np.number)
num.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64825 entries, 164904 to 307509
Columns: 106 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41)
memory usage: 52.9 MB

In [32]:
# Replace null values in numerical columns with mean
for i in num.columns[num.isnull().any(axis=0)]:     #---Applying Only on variables with NaN values
    num[i].fillna(num[i].mean(),inplace=True)

print(num.isnull().sum())

SK_ID_CURR                    0
TARGET                        0
CNT_CHILDREN                  0
AMT_INCOME_TOTAL              0
AMT_CREDIT                    0
                             ..
AMT_REQ_CREDIT_BUREAU_DAY     0
AMT_REQ_CREDIT_BUREAU_WEEK    0
AMT_REQ_CREDIT_BUREAU_MON     0
AMT_REQ_CREDIT_BUREAU_QRT     0
AMT_REQ_CREDIT_BUREAU_YEAR    0
Length: 106, dtype: int64

In [33]:
num.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64825 entries, 164904 to 307509
Columns: 106 entries, SK_ID_CURR to AMT_REQ_CREDIT_BUREAU_YEAR
dtypes: float64(65), int64(41)
memory usage: 52.9 MB

#### Summary of numericals
* AMT_INCOME_TOTAL has one or many outliers that may need to be trimmed.
* Widely varying magnitudes - normalization will be important

### Categoricals

In [36]:
cats = df1.select_dtypes(include='object')
cats.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64825 entries, 164904 to 307509
Data columns (total 16 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   NAME_CONTRACT_TYPE          64825 non-null  object
 1   CODE_GENDER                 64825 non-null  object
 2   FLAG_OWN_CAR                64825 non-null  object
 3   FLAG_OWN_REALTY             64825 non-null  object
 4   NAME_TYPE_SUITE             64568 non-null  object
 5   NAME_INCOME_TYPE            64825 non-null  object
 6   NAME_EDUCATION_TYPE         64825 non-null  object
 7   NAME_FAMILY_STATUS          64825 non-null  object
 8   NAME_HOUSING_TYPE           64825 non-null  object
 9   OCCUPATION_TYPE             45780 non-null  object
 10  WEEKDAY_APPR_PROCESS_START  64825 non-null  object
 11  ORGANIZATION_TYPE           64825 non-null  object
 12  FONDKAPREMONT_MODE          19595 non-null  object
 13  HOUSETYPE_MODE              31004 non-null  object
 14  WALLSMATERIAL_MODE          30566 non-null  object
 15  EMERGENCYSTATE_MODE         32743 non-null  object
dtypes: object(16)
memory usage: 8.4+ MB

## Label Encode or One-Hot Encode Categoricals
   * Explore to figure out number of unique values
       * If unique values >5, then label encode

In [37]:
cats['NAME_INCOME_TYPE'].value_counts()

Working                 35555
Commercial associate    14716
Pensioner               10404
State servant            4127
Unemployed                 14
Student                     6
Maternity leave             3
Name: NAME_INCOME_TYPE, dtype: int64

In [104]:
cats5['NAME_TYPE_SUITE'].value_counts()

Unaccompanied      52688
Family              8210
Spouse, partner     2381
Children             667
Other_B              396
Other_A              189
Group of people       54
Name: NAME_TYPE_SUITE, dtype: int64

In [38]:
cats['FLAG_OWN_CAR'].value_counts()

N    43603
Y    21222
Name: FLAG_OWN_CAR, dtype: int64

In [39]:
cats['NAME_FAMILY_STATUS'].value_counts()

Married                 40536
Single / not married    10382
Civil marriage           6679
Separated                4147
Widow                    3081
Name: NAME_FAMILY_STATUS, dtype: int64

In [40]:
cats['FLAG_OWN_REALTY'].value_counts()

Y    44793
N    20032
Name: FLAG_OWN_REALTY, dtype: int64

In [41]:
cats['NAME_HOUSING_TYPE'].value_counts()

House / apartment      56942
With parents            3603
Municipal apartment     2355
Rented apartment        1180
Office apartment         523
Co-op apartment          222
Name: NAME_HOUSING_TYPE, dtype: int64

In [109]:
cats5['NAME_EDUCATION_TYPE'].value_counts()

Secondary / secondary special    47766
Higher education                 13957
Incomplete higher                 2191
Lower secondary                    881
Academic degree                     30
Name: NAME_EDUCATION_TYPE, dtype: int64

In [42]:
cats['NAME_CONTRACT_TYPE'].value_counts()

Cash loans         59240
Revolving loans     5585
Name: NAME_CONTRACT_TYPE, dtype: int64

In [43]:
cats['ORGANIZATION_TYPE'].value_counts()

Business Entity Type 3    15171
XNA                       10416
Self-employed              8852
Other                      3430
Business Entity Type 2     2247
Medicine                   2181
Government                 2066
Trade: type 7              1733
School                     1686
Construction               1599
Kindergarten               1391
Transport: type 4          1237
Business Entity Type 1     1214
Trade: type 3               810
Security                    748
Industry: type 3            718
Industry: type 9            683
Housing                     616
Industry: type 11           585
Agriculture                 579
Postal                      465
Bank                        460
Transport: type 2           459
Military                    456
Police                      449
Restaurant                  423
Security Ministries         397
Trade: type 2               379
Transport: type 3           340
Services                    313
Industry: type 7            268
University                  245
Industry: type 1            244
Hotel                       188
Electricity                 185
Industry: type 4            175
Industry: type 5            129
Telecom                     127
Emergency                   115
Insurance                   114
Trade: type 6               105
Advertising                  96
Industry: type 2             91
Realtor                      91
Trade: type 1                82
Mobile                       80
Culture                      75
Legal Services               70
Industry: type 12            63
Cleaning                     50
Transport: type 1            35
Industry: type 10            20
Industry: type 6             20
Industry: type 13            17
Religion                     15
Trade: type 4                10
Trade: type 5                 6
Industry: type 8              6
Name: ORGANIZATION_TYPE, dtype: int64

#### Use label encoding to save space with Organization_Type
* Interpreting Organization Type won't be as important as building a predictive model.

In [46]:
# Instantiate LabelEncoder
label_encoder = LabelEncoder()

# create new row for Organization_type with label encoder
cats['ORGANIZATION_TYPE_CODE'] = label_encoder.fit_transform(cats['ORGANIZATION_TYPE'])

cats.head()

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,ORGANIZATION_TYPE,FONDKAPREMONT_MODE,HOUSETYPE_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,ORGANIZATION_TYPE_CODE
164904,Cash loans,M,N,N,Unaccompanied,Working,Secondary / secondary special,Widow,Municipal apartment,Security staff,SUNDAY,Government,NaN,block of flats,Block,Yes,11
238191,Cash loans,F,N,Y,Family,Working,Secondary / secondary special,Married,House / apartment,Sales staff,THURSDAY,Other,NaN,NaN,NaN,NaN,33
37832,Cash loans,F,N,Y,Unaccompanied,Working,Incomplete higher,Single / not married,House / apartment,Waiters/barmen staff,WEDNESDAY,Business Entity Type 3,org spec account,block of flats,"Stone, brick",No,5
85037,Cash loans,F,N,Y,Family,Working,Higher education,Married,House / apartment,Accountants,MONDAY,Business Entity Type 3,NaN,block of flats,"Stone, brick",No,5
129527,Revolving loans,M,Y,Y,Unaccompanied,Working,Higher education,Married,House / apartment,Drivers,FRIDAY,Self-employed,NaN,NaN,NaN,NaN,42

In [47]:
# drop Organization_Type column
cats = cats.drop('ORGANIZATION_TYPE', axis=1)

cats.head()

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,FONDKAPREMONT_MODE,HOUSETYPE_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE,ORGANIZATION_TYPE_CODE
164904,Cash loans,M,N,N,Unaccompanied,Working,Secondary / secondary special,Widow,Municipal apartment,Security staff,SUNDAY,NaN,block of flats,Block,Yes,11
238191,Cash loans,F,N,Y,Family,Working,Secondary / secondary special,Married,House / apartment,Sales staff,THURSDAY,NaN,NaN,NaN,NaN,33
37832,Cash loans,F,N,Y,Unaccompanied,Working,Incomplete higher,Single / not married,House / apartment,Waiters/barmen staff,WEDNESDAY,org spec account,block of flats,"Stone, brick",No,5
85037,Cash loans,F,N,Y,Family,Working,Higher education,Married,House / apartment,Accountants,MONDAY,NaN,block of flats,"Stone, brick",No,5
129527,Revolving loans,M,Y,Y,Unaccompanied,Working,Higher education,Married,House / apartment,Drivers,FRIDAY,NaN,NaN,NaN,NaN,42

#### One Hot Encode Categoricals

In [48]:
# Separate Label Encoded Column
label_encoded = cats['ORGANIZATION_TYPE_CODE']

cats = cats.drop('ORGANIZATION_TYPE_CODE', axis=1)

cats.head()

,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,NAME_TYPE_SUITE,NAME_INCOME_TYPE,NAME_EDUCATION_TYPE,NAME_FAMILY_STATUS,NAME_HOUSING_TYPE,OCCUPATION_TYPE,WEEKDAY_APPR_PROCESS_START,FONDKAPREMONT_MODE,HOUSETYPE_MODE,WALLSMATERIAL_MODE,EMERGENCYSTATE_MODE
164904,Cash loans,M,N,N,Unaccompanied,Working,Secondary / secondary special,Widow,Municipal apartment,Security staff,SUNDAY,NaN,block of flats,Block,Yes
238191,Cash loans,F,N,Y,Family,Working,Secondary / secondary special,Married,House / apartment,Sales staff,THURSDAY,NaN,NaN,NaN,NaN
37832,Cash loans,F,N,Y,Unaccompanied,Working,Incomplete higher,Single / not married,House / apartment,Waiters/barmen staff,WEDNESDAY,org spec account,block of flats,"Stone, brick",No
85037,Cash loans,F,N,Y,Family,Working,Higher education,Married,House / apartment,Accountants,MONDAY,NaN,block of flats,"Stone, brick",No
129527,Revolving loans,M,Y,Y,Unaccompanied,Working,Higher education,Married,House / apartment,Drivers,FRIDAY,NaN,NaN,NaN,NaN

In [49]:
# copy categoricals
cat_dummies = cats.copy()

# get dummies for categoricals from cat_dummies
cat_dummies = pd.get_dummies(cat_dummies, drop_first=True)

cat_dummies.head()

,NAME_CONTRACT_TYPE_Revolving loans,CODE_GENDER_M,FLAG_OWN_CAR_Y,FLAG_OWN_REALTY_Y,NAME_TYPE_SUITE_Family,NAME_TYPE_SUITE_Group of people,NAME_TYPE_SUITE_Other_A,NAME_TYPE_SUITE_Other_B,"NAME_TYPE_SUITE_Spouse, partner",NAME_TYPE_SUITE_Unaccompanied,...,FONDKAPREMONT_MODE_reg oper spec account,HOUSETYPE_MODE_specific housing,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_Yes
164904,0,1,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
238191,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
37832,0,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
85037,0,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
129527,1,1,1,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [50]:
# print shape - column, row attributes
print(cat_dummies.shape)

(64825, 64)

In [99]:
# replace with mode for categorical variables
# df5['NAME_TYPE_SUITE'].fillna(df5['NAME_TYPE_SUITE'].mode()[0], inplace=True)
# print('NAME_TYPE_SUITE:', df5['NAME_TYPE_SUITE'].describe())
# print()

## Remove Outliers

In [52]:
# concatenate cat_dummies and numericals

df2 = pd.concat([num, 
                 cat_dummies,
                label_encoded], axis=1)
df2.head()

,SK_ID_CURR,TARGET,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,AMT_GOODS_PRICE,REGION_POPULATION_RELATIVE,DAYS_BIRTH,DAYS_EMPLOYED,...,HOUSETYPE_MODE_specific housing,HOUSETYPE_MODE_terraced house,WALLSMATERIAL_MODE_Mixed,WALLSMATERIAL_MODE_Monolithic,WALLSMATERIAL_MODE_Others,WALLSMATERIAL_MODE_Panel,"WALLSMATERIAL_MODE_Stone, brick",WALLSMATERIAL_MODE_Wooden,EMERGENCYSTATE_MODE_Yes,ORGANIZATION_TYPE_CODE
164904,291162,0,0,225000.0,1119411.0,40338.0,904500.0,0.011657,-19406,-346,...,0,0,0,0,0,0,0,0,1,11
238191,375841,0,0,315000.0,900000.0,47952.0,900000.0,0.035792,-13357,-2075,...,0,0,0,0,0,0,0,0,0,33
37832,143818,0,1,225000.0,450000.0,22018.5,450000.0,0.014464,-9456,-772,...,0,0,0,0,0,0,1,0,0,5
85037,198651,0,0,202500.0,1312110.0,55723.5,1125000.0,0.007330,-19784,-138,...,0,0,0,0,0,0,1,0,0,5
129527,250234,0,0,225000.0,270000.0,13500.0,270000.0,0.019101,-8291,-946,...,0,0,0,0,0,0,0,0,0,42

In [55]:
df2.isnull().sum()

SK_ID_CURR                         0
TARGET                             0
CNT_CHILDREN                       0
AMT_INCOME_TOTAL                   0
AMT_CREDIT                         0
                                  ..
WALLSMATERIAL_MODE_Panel           0
WALLSMATERIAL_MODE_Stone, brick    0
WALLSMATERIAL_MODE_Wooden          0
EMERGENCYSTATE_MODE_Yes            0
ORGANIZATION_TYPE_CODE             0
Length: 171, dtype: int64

In [53]:
# Check value counts and Dtypes
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 64825 entries, 164904 to 307509
Columns: 171 entries, SK_ID_CURR to ORGANIZATION_TYPE_CODE
dtypes: float64(65), int64(42), uint8(64)
memory usage: 57.4 MB

### Select Features

In [57]:
# iterating print for the columns
cols = []
for col in df2.columns:
    cols.append(col)
    print(col)
print(len(cols))

SK_ID_CURR
TARGET
CNT_CHILDREN
AMT_INCOME_TOTAL
AMT_CREDIT
AMT_ANNUITY
AMT_GOODS_PRICE
REGION_POPULATION_RELATIVE
DAYS_BIRTH
DAYS_EMPLOYED
DAYS_REGISTRATION
DAYS_ID_PUBLISH
OWN_CAR_AGE
FLAG_MOBIL
FLAG_EMP_PHONE
FLAG_WORK_PHONE
FLAG_CONT_MOBILE
FLAG_PHONE
FLAG_EMAIL
CNT_FAM_MEMBERS
REGION_RATING_CLIENT
REGION_RATING_CLIENT_W_CITY
HOUR_APPR_PROCESS_START
REG_REGION_NOT_LIVE_REGION
REG_REGION_NOT_WORK_REGION
LIVE_REGION_NOT_WORK_REGION
REG_CITY_NOT_LIVE_CITY
REG_CITY_NOT_WORK_CITY
LIVE_CITY_NOT_WORK_CITY
EXT_SOURCE_1
EXT_SOURCE_2
EXT_SOURCE_3
APARTMENTS_AVG
BASEMENTAREA_AVG
YEARS_BEGINEXPLUATATION_AVG
YEARS_BUILD_AVG
COMMONAREA_AVG
ELEVATORS_AVG
ENTRANCES_AVG
FLOORSMAX_AVG
FLOORSMIN_AVG
LANDAREA_AVG
LIVINGAPARTMENTS_AVG
LIVINGAREA_AVG
NONLIVINGAPARTMENTS_AVG
NONLIVINGAREA_AVG
APARTMENTS_MODE
BASEMENTAREA_MODE
YEARS_BEGINEXPLUATATION_MODE
YEARS_BUILD_MODE
COMMONAREA_MODE
ELEVATORS_MODE
ENTRANCES_MODE
FLOORSMAX_MODE
FLOORSMIN_MODE
LANDAREA_MODE
LIVINGAPARTMENTS_MODE
LIVINGAREA_MODE
NONLIVINGAPARTMENTS_MODE
NONLIVINGAREA_MODE
APARTMENTS_MEDI
BASEMENTAREA_MEDI
YEARS_BEGINEXPLUATATION_MEDI
YEARS_BUILD_MEDI
COMMONAREA_MEDI
ELEVATORS_MEDI
ENTRANCES_MEDI
FLOORSMAX_MEDI
FLOORSMIN_MEDI
LANDAREA_MEDI
LIVINGAPARTMENTS_MEDI
LIVINGAREA_MEDI
NONLIVINGAPARTMENTS_MEDI
NONLIVINGAREA_MEDI
TOTALAREA_MODE
OBS_30_CNT_SOCIAL_CIRCLE
DEF_30_CNT_SOCIAL_CIRCLE
OBS_60_CNT_SOCIAL_CIRCLE
DEF_60_CNT_SOCIAL_CIRCLE
DAYS_LAST_PHONE_CHANGE
FLAG_DOCUMENT_2
FLAG_DOCUMENT_3
FLAG_DOCUMENT_4
FLAG_DOCUMENT_5
FLAG_DOCUMENT_6
FLAG_DOCUMENT_7
FLAG_DOCUMENT_8
FLAG_DOCUMENT_9
FLAG_DOCUMENT_10
FLAG_DOCUMENT_11
FLAG_DOCUMENT_12
FLAG_DOCUMENT_13
FLAG_DOCUMENT_14
FLAG_DOCUMENT_15
FLAG_DOCUMENT_16
FLAG_DOCUMENT_17
FLAG_DOCUMENT_18
FLAG_DOCUMENT_19
FLAG_DOCUMENT_20
FLAG_DOCUMENT_21
AMT_REQ_CREDIT_BUREAU_HOUR
AMT_REQ_CREDIT_BUREAU_DAY
AMT_REQ_CREDIT_BUREAU_WEEK
AMT_REQ_CREDIT_BUREAU_MON
AMT_REQ_CREDIT_BUREAU_QRT
AMT_REQ_CREDIT_BUREAU_YEAR
NAME_CONTRACT_TYPE_Revolving loans
CODE_GENDER_M
FLAG_OWN_CAR_Y
FLAG_OWN_REALTY_Y
NAME_TYPE_SUITE_Family
NAME_TYPE_SUITE_Group of people
NAME_TYPE_SUITE_Other_A
NAME_TYPE_SUITE_Other_B
NAME_TYPE_SUITE_Spouse, partner
NAME_TYPE_SUITE_Unaccompanied
NAME_INCOME_TYPE_Maternity leave
NAME_INCOME_TYPE_Pensioner
NAME_INCOME_TYPE_State servant
NAME_INCOME_TYPE_Student
NAME_INCOME_TYPE_Unemployed
NAME_INCOME_TYPE_Working
NAME_EDUCATION_TYPE_Higher education
NAME_EDUCATION_TYPE_Incomplete higher
NAME_EDUCATION_TYPE_Lower secondary
NAME_EDUCATION_TYPE_Secondary / secondary special
NAME_FAMILY_STATUS_Married
NAME_FAMILY_STATUS_Separated
NAME_FAMILY_STATUS_Single / not married
NAME_FAMILY_STATUS_Widow
NAME_HOUSING_TYPE_House / apartment
NAME_HOUSING_TYPE_Municipal apartment
NAME_HOUSING_TYPE_Office apartment
NAME_HOUSING_TYPE_Rented apartment
NAME_HOUSING_TYPE_With parents
OCCUPATION_TYPE_Cleaning staff
OCCUPATION_TYPE_Cooking staff
OCCUPATION_TYPE_Core staff
OCCUPATION_TYPE_Drivers
OCCUPATION_TYPE_HR staff
OCCUPATION_TYPE_High skill tech staff
OCCUPATION_TYPE_IT staff
OCCUPATION_TYPE_Laborers
OCCUPATION_TYPE_Low-skill Laborers
OCCUPATION_TYPE_Managers
OCCUPATION_TYPE_Medicine staff
OCCUPATION_TYPE_Private service staff
OCCUPATION_TYPE_Realty agents
OCCUPATION_TYPE_Sales staff
OCCUPATION_TYPE_Secretaries
OCCUPATION_TYPE_Security staff
OCCUPATION_TYPE_Waiters/barmen staff
WEEKDAY_APPR_PROCESS_START_MONDAY
WEEKDAY_APPR_PROCESS_START_SATURDAY
WEEKDAY_APPR_PROCESS_START_SUNDAY
WEEKDAY_APPR_PROCESS_START_THURSDAY
WEEKDAY_APPR_PROCESS_START_TUESDAY
WEEKDAY_APPR_PROCESS_START_WEDNESDAY
FONDKAPREMONT_MODE_org spec account
FONDKAPREMONT_MODE_reg oper account
FONDKAPREMONT_MODE_reg oper spec account
HOUSETYPE_MODE_specific housing
HOUSETYPE_MODE_terraced house
WALLSMATERIAL_MODE_Mixed
WALLSMATERIAL_MODE_Monolithic
WALLSMATERIAL_MODE_Others
WALLSMATERIAL_MODE_Panel
WALLSMATERIAL_MODE_Stone, brick
WALLSMATERIAL_MODE_Wooden
EMERGENCYSTATE_MODE_Yes
ORGANIZATION_TYPE_CODE
171

## SMOTE - Oversample Minority Class

### Train, Test, Split

In [66]:
# Define X and y
y = df2['TARGET']
X = df2.drop('TARGET', axis=1)

# Perform train-test split with random_state=42 and stratify=y
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [67]:
# Previous original class distribution
print(y_train.value_counts()) 

# Fit SMOTE to training data
X_train_resampled, y_train_resampled = SMOTE().fit_resample(X_train, y_train) 

# Preview synthetic sample class distribution
print('\n')
print(pd.Series(y_train_resampled).value_counts()) 

# Note, if you get an Attribute Error: 'SMOTE' object has no attribute
# '_validate_data', then downgrade your version of imblearn to 0.6.2
# or upgrade your version of sklearn to 0.23

0    30015
1    18603
Name: TARGET, dtype: int64


1    30015
0    30015
Name: TARGET, dtype: int64

## Random Forest with SMOTE
* Prioritize Accuracy for Loan Approval

In [ ]:
# Instantiate and fit a RandomForestClassifier
forest = RandomForestClassifier(n_estimators=1, max_depth= 1)
forest.fit(X_train_resampled, y_train_resampled)

In [ ]:
# Training accuracy score
forest.score(X_train_resampled, y_train_resampled)

In [ ]:
# Test accuracy score
forest.score(X_test, y_test)

In [ ]:
# Test set predictions
pred = forest.predict(X_test)

In [ ]:
# Confusion matrix and classification report
print(confusion_matrix(y_test, pred))
print(classification_report(y_test, pred))

## Random Forest with SMOTE
* Prioritize Accuracy for Loan Rejection

In [ ]:
# Instantiate and fit a RandomForestClassifier
forest = RandomForestClassifier(n_estimators=20, max_depth= 10)
forest.fit(X_train_resampled, y_train_resampled)

In [ ]:
# Training accuracy score
forest.score(X_train_resampled, y_train_resampled)

In [ ]:
# Test accuracy score
forest.score(X_test, y_test)

In [ ]:
# Test set predictions
pred = forest.predict(X_test)

In [ ]:
# Confusion matrix and classification report
print(confusion_matrix(y_test, pred))
print(classification_report(y_test, pred))

In [ ]:
# Forest features plot